/* aad, 225, 114, 000 */

body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 18px;
  margin:0.25em;
  padding:0;
}

.navs {
  display: flex;
  flex-wrap: wrap;
}

nav {
  margin: 0.5em;
  padding: 0 0.5em 0.5em 1em;
  flex-grow: 1;
  background-color: #eef;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 18px;
  line-height: 20px;
  color: #225;
}

a {
  text-decoration: none;
  color: #448;
}
